/*
component: 01_container.scss
all about containers and wrappers
dependencies: variables
*/

.container,
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: $ccss-container-padding;
  max-width: $ccss-container-max-width;

  &.fluid {
    margin: 0;
    max-width: 100%;
  }

  // FIXME
  // this is not really working
  &.fill-height {
    height: 100%;
  }
}

// FIXME
// review this one
// do you need this component at all
.textbox {
  padding: 2em 1em;
  border-radius: 4px;
  background-color: transparent;

  @include ccss-on-tablet-and-up {
    padding: 3em 2em;
  }
}
