@import "./cluster-css/cluster";

body {
  background-color: #fff;
  position: relative;
  overflow: auto;
}

// FIXME
// add this one to the framework
img {
  display: block;
}

// FIXME
// add this one to the framework
.container {
  &.fluid {
    margin: 0;
    max-width: 100%;
  }
  &.fill-height {
    height: 100%;
  }
}

// FIXME
// add this one to the framework
a {
  position: relative;
  &.underline {
    &::after {
      content: "";
      border-color: inherit;
      border-bottom: solid 1.5px;
      position: absolute;
      top: 1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.25s;
    }

    &:hover {
      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    @keyframes underline {
      from {
        transform: scaleX(0);
      }
      to {
        transform: scaleX(1);
      }
    }
  }
}

// FIXME
// add this one to the framework
.icon {
  cursor: pointer;
  padding: 0.25rem;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// FIXME
// add position helpers to the framework

// header
#header {
  $nav-bar-height-small: 4rem;
  $nav-bar-height-large: 12rem;
  $header-img-height-small: 736px;
  $header-img-height-large: 812px;

  width: 100%;
  display: block;

  #header-img {
    margin-top: $nav-bar-height-small;
    height: $header-img-height-small;
    object-fit: cover;
    width: 100%;
    display: block;
    overflow: auto;
  }
  @include ccss-on-tablet-and-up {
    #header-img {
      margin-top: $nav-bar-height-large;
      height: $header-img-height-large;
    }
  }

  #nav-bar {
    width: calc(100% - 2rem);
    height: $nav-bar-height-small;
    display: block;
    position: fixed;
    top: 0;

    #nav-title {
      margin: 0;
      letter-spacing: 1px;
    }

    #nav-trigger {
      position: absolute;
      right: 1rem;
    }

    #nav-links {
      @include list-reset;
      letter-spacing: 1px;
      display: none;
    }

    // nav-bar on tablet view
    @include ccss-on-tablet-and-up {
      height: $nav-bar-height-large;

      #nav-title {
        margin-bottom: 1rem;
      }

      #nav-trigger {
        display: none;
      }

      #nav-links {
        display: flex;
      }
    }
  }
}

#nav-drawer {
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  // width: 100vw;
  // height: 100vh;
  // overflow: hidden;
}
