@import "./cluster-css/cluster";

// --------------------------
// global variables
// --------------------------
$nav-bar-height-small: 4rem;
$nav-bar-height-large: 12rem;
$header-height-small: 736px;
$header-height-large: 812px;

// --------------------------
// elements
// --------------------------
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  @include ccss-on-tablet-and-up {
    scroll-padding-top: 8rem;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// FIXME
// add this one to the framework
a {
  &.underline {
    position: relative;
    &::after {
      content: "";
      margin-top: 4px;
      border-color: inherit;
      border: solid 1px;
      background-color: black;
      position: absolute;
      top: 1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.25s;
    }

    &:hover {
      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    @keyframes underline {
      from {
        transform: scaleX(0);
      }
      to {
        transform: scaleX(1);
      }
    }
  }
}

// FIXME
// add position helpers to the framework

// --------------------------
// classes
// --------------------------
.section {
  display: block;
  position: relative;
  min-height: 408px;

  &.section-extended {
    min-height: 1024px;

    @include ccss-on-tablet-and-up {
      min-height: 1144px;
    }
  }
}

.textbox {
  display: block;
  max-width: 600px;
}

.btn {
  border: solid 2px $ccss-text-color !important;
  &:hover {
    color: white !important;
    background-color: $ccss-text-color !important;
  }
}

// --------------------------
// header
// --------------------------
#header {
  width: 100%;
  display: block;
  height: $header-height-small;
  margin-top: $nav-bar-height-small;

  #header-img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  @include ccss-on-tablet-and-up {
    height: $header-height-large;
    margin-top: $nav-bar-height-large;
  }
}

// -------------------------------
// navigation --------------------
// classes:
//   fixed
//   large
//   stacked
// -------------------------------
#nav-bar {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: $nav-bar-height-small;
  padding: 0 1rem;
  .container {
    padding: 0;
    height: 100%;
    @extend #nav-bar;
  }

  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  #nav-title {
    margin: 0;
    padding: 0 1rem;
  }

  #nav-links {
    @include list-reset;
    display: none;
    padding: 0.5rem 0;
    li {
      letter-spacing: 1px;
      padding: 0 1rem;
    }
  }

  #nav-menu {
    position: absolute;
    right: 0;
    &.btn {
      border: solid 2px transparent !important;
      margin: 0 0.25rem;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  @include ccss-on-tablet-and-up {
    &.large {
      height: $nav-bar-height-large;
    }

    &.stacked {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .container {
        @extend .stacked;
      }

      &.centered {
        align-items: center;
        .container {
          @extend .centered;
        }
      }
    }

    #nav-title {
      padding: 0.5rem 1rem;
    }

    #nav-links {
      display: flex;
    }

    // #nav-menu {
    //   position: relative;
    //   display: none;
    // }
  }
}

#drawer {
  $nav-drawer-header-height: $nav-bar-height-small;

  transition: left 0.2s;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  z-index: 10;

  #drawer-header {
    height: $nav-drawer-header-height;
  }

  #drawer-close {
    position: absolute;
    right: 0;
    top: 0;

    .icon {
      width: 18px;
    }
  }

  #drawer-links {
    @include list-reset;
  }

  &.active {
    left: 0;
  }
}

// --------------------------
// main
// --------------------------
#roots-section {
  #video {
    padding: 0;
    margin: 0;
    display: block;
    height: auto !important;
    width: 100% !important;
    object-fit: cover;
  }

  #roots-section-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "roots"
      "products";
    @include ccss-on-tablet-and-up {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "roots products";
    }
  }

  #roots {
    grid-area: roots;
    padding-bottom: 4rem;
  }
  #products {
    grid-area: products;
  }

  @include ccss-on-tablet-and-up {
    #roots,
    #products {
      padding-bottom: 0;
    }
  }
}

#mission-section {
  background-image: url("../images/img-mission-min.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8rem;

  .textbox {
    max-width: 1200px;
  }
}

#gallery-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "featured-1"
    "featured-2"
    "featured-3";

  #featured-1 {
    grid-area: featured-1;
  }
  #featured-2 {
    grid-area: featured-2;
  }
  #featured-3 {
    grid-area: featured-3;
  }

  .gallery-image {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  .gallery-image-caption {
    display: block;
    position: absolute;
    padding: 1rem;
    top: 0;
    left: 0;
  }

  @include ccss-on-tablet-and-up {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "featured-1 featured-2"
      "featured-1 featured-3";

    .gallery-image-caption {
      padding: 2rem;
    }
  }
}

#form {
  #form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 3.5rem;
  }

  #email {
    outline: none;
    min-height: 3rem;
    min-width: 100%;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
  }

  @include ccss-on-tablet-and-up {
    #email {
      min-width: 100px;
      margin: 0 0.5rem 0 0;
    }
  }
}

// --------------------------
// footer
// --------------------------
#footer {
  .btn {
    border: solid 2px transparent !important;
    margin: 0 0.25rem;
    &:hover {
      background-color: transparent !important;
    }
  }

  #footer-follow {
    @include list-reset;
  }
}
