/*
02_variables.scss
here's the file to setup for customization
dependencies: none
*/

// theme
$ccss-primary-color: #b8336a !default;
$ccss-secondary-color: #2e5266 !default;
// $ccss-tertiary-color: #8d99ae !default;
$ccss-tertiary-color: rgba(0, 0, 0, 0.87) !default;
$ccss-offblack-color: rgba(0, 0, 0, 0.87) !default;
$ccss-mutedblack-color: rgba(0, 0, 0, 0.57) !default;
$ccss-success-color: #4caf50 !default;
$ccss-warning-color: #ffeb3b !default;
$ccss-error-color: #f44336 !default;
// $ccss-link-color: #039be5 !default;
$ccss-link-color: $ccss-offblack-color !default;
$ccss-text-color: $ccss-offblack-color !default;

// typography
$ccss-type-scale-ratio: 1.333 !default;
$ccss-text-mobile-size: 14px !default;
$ccss-text-tablet-size: 15px !default;
$ccss-text-laptop-size: 16px !default;
$ccss-body-line-height: 1.75 !default;
$ccss-heading-line-height: 1.15 !default;
$ccss-font-primary-stack: "Montserrat", "Helvetica Neue", sans-serif !default;
$ccss-font-secondary-stack: "Montserrat", "serif" !default;

// breakpoints (materialize)
$ccss-mobile-screen-max-width: 600px;
$ccss-tablet-screen-max-width: 992px;
$ccss-laptop-screen-max-width: 1200px;
$ccss-large-screen-max-width: 1440px;

// container
// $ccss-container-max-width: 1440px !default;
$ccss-container-max-width: 1904px !default;
$ccss-container-padding: 0 1rem !default;

// buttons
// $ccss-btn-background: $ccss-primary-color !default;
$ccss-btn-background: $ccss-offblack-color !default;
// $ccss-btn-font-style: capitalize !default;
$ccss-btn-font-style: uppercase !default;
// $ccss-btn-font-weight: 500 !default;
$ccss-btn-font-weight: 600 !default;
$ccss-btn-border-radius: 4px !default;
$ccss-btn-letter-spacing: 0px !default;

// navbar
$ccss-nav-bar-min-height: 4rem;
$ccss-nav-bar-max-height: 12rem;
$ccss-nav-link-letter-spacing: 1px !default;
$ccss-nav-link-text-weight: 700 !default;
$ccss-nav-link-text-style: uppercase !default;
$ccss-nav-title-letter-spacing: 1px !default;
$ccss-nav-title-text-weight: 700 !default;
$ccss-nav-title-text-style: uppercase !default;
