// html
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// blockquote
blockquote {
  margin: 1em 0;
  padding-left: 2em;
  border-left: solid 4px $ccss-primary-color;
}

// images && icons (use svg)
img {
  display: block;
  width: 100%;

  &.icon {
    cursor: pointer;
    padding: 0.25rem;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    object-position: 50% 50%;
    object-fit: contain;
  }
}
